<% 
	lengthOfLine = item.shorthand
	asked = 10
%>
<h1 style='font-size:70px; font-weight: bold;' class='text-center'>Beispiel</h1>
<br/><br /><br/>
<p style="font-size: 35px; font-family: fibel_nordregular;" class="text-center"> Wo ist die <%= asked.to_i %> ? Klicke.<p>
<div id='divNumbersLine' class='row text-center'>
		<canvas id='canvas' width='750' height='200'></canvas>
</div>
<br><br>
<div class='row text-center' id='weiter'>
<p id="hinweis" class="text-center" style="font-size: 20px; font-family: fibel_nordregular;"></p><br>
  <div class='col-md-4 col-md-offset-4'>
    <button id='next' type='button' class='btn btn-lg btn-primary btn-block'><span style='font-size: 40px; font-family: fibel_nordregular;'>Jetzt starten!</span></button>
  </div>
</div>

<script type='text/javascript'>
	var canvas = document.getElementById('canvas');
	var ctx = canvas.getContext('2d');
	var w = canvas.width -15;
	var h = canvas.height;
	var toleranceValue = 0;
	var lineWidth = 5; // Needed for drawing
	var lengthOfLine = parseInt(<%= lengthOfLine %>);
	var interval = w / lengthOfLine;
	var currentAnswer=[]; 
	var answer = 0;
	var askedNumber= 5;
	var clicked = false;

	drawLines();

	$('#canvas').click(function (e){
		var x = e.offsetX;
		var y = e.offsetY;
		if((y >= h/2 - 2*lineWidth) && (y <= h/2 + 16*lineWidth)){
			answer = (x-x%interval)/interval;
			if(x%interval <= interval/2){
				showClickedPosition( answer);
			}
			else {
				showClickedPosition( answer = answer + 1);
			}
		clicked = true;
		document.getElementById('hinweis').innerHTML =  "Keine Fragen mehr? Dann starte den Test.";
		}
	});

	function drawLines(){
		//horizontal line
	    ctx.fillRect(0,h/2,w ,lineWidth);

	    for (var i = 0; i <= lengthOfLine; i++) {
			if(i%5 == 0){
				ctx.fillRect(i*interval,(h/2), lineWidth, 16 * lineWidth);    		 
			}
			else{
				ctx.fillRect(i*interval,(h/2), lineWidth/2, 8 * lineWidth);    		 
			}
		}

		// Numbers 
	    ctx.font = '20px Arial black';
	    for (var i = 0; i <= lengthOfLine; i++) {
	    	if (i%5==0 && i != parseInt(askedNumber) ) {
	    		ctx.fillText(i, i * interval - (i*0.5), h/2 + 20*lineWidth);
	    	}
	    }
	}

	function showClickedPosition(answer){
		if (currentAnswer.length > 0){
			ctx.clearRect(currentAnswer[0]-10,currentAnswer[1],currentAnswer[2]+15,currentAnswer[3]);
			ctx.fillStyle = 'black';
			drawLines();
		}
		ctx.fillStyle = 'red';
		var rect = [answer*interval - 2 , h/2 - 3*lineWidth , 8, 19*lineWidth];
		currentAnswer = rect;
		ctx.fillRect(rect[0],rect[1],rect[2],rect[3]);
	}

	$('#weiter').click(function(){
		if(clicked == true){
			if(workTime!=-1) {
	            timeoutId = window.setTimeout(timedOut, workTime);
	            stopwatch = new Date();
	        }
	      nextItem();
		}
		document.getElementById('hinweis').innerHTML =  "Bitte klicke oben.";
	});		

</script>