<div class="container">
	<div class="row text-center">
		<h1>Addition</h1>
	</div>
	<br>
	<br>
	<div class="row" style="font-size: 50px;">
		<div class="col-md-1 col-md-offset-3 text-center" id="div1"></div>  
		<div class="col-md-1 text-center" id="div2">+</div>
		<div class="col-md-1 text-center" id="div3"></div>
		<div class="col-md-1 text-center" id="div4">=</div>
		<div class="col-md-2 text-center" id="div5"></div>
	</div>
	<br><br>
	<div class="row">
		<div class="text-center">
			<% (0..9).each do |x| %>
			<button id="<%=x%>" class="btn btn-lg btn-primary"> <%= x%></button>
		<% end %>
		</div>
	</div><br><br>
	<div class="row text-center">
        <button class="btn btn-warning btn-lg" id="delete">
           Löschen
        </button>
      </div>
    </div><br>
    <div class="row text-center">
    	<p  style="font-size: 30px; font-family: fibel_nordregular;" id="hinweis"></p>
    </div>
	<br>
	<div class="row">
		<div class="col-md-12">
			<dir class="text-center col-md-4 col-md-offset-4">
				<button class="btn btn-lg btn-primary btn-block" id="next" ><span style="font-size:30px; font-family: fibel_nordregular;">Jetzt Starten!</span></button>
			</dir>
		</div>
	</div>
</div>

<script type="text/javascript">
	var div = document.getElementById("assignment");
	var p1 = document.getElementById("div1");
	var p2 = document.getElementById("div3");
	var p3 = document.getElementById("div5");
	var answer="";
	var clicked = false;

	show();

	function show(){
		p1.innerHTML = 2 + " ";
		p2.innerHTML = 2 + " ";
		p3.innerHTML += "<input type=\"input\" name=\"answer\" id=\"answer\" class='col-md-12' readonly>";
	}

	$('button').click(function(event){
		var clickedId = event.target.id;
		if(clickedId == "next"){
			if(clicked == true){
				if(workTime != -1){
				timeoutId = window.setTimeout(timedOut, workTime);
				stopwatch = new Date();
				}
				nextItem();
			}
			else{	
				document.getElementById('hinweis').innerHTML= "Bitte eine Zahl klicken!";
			}
		} else if (clickedId=="delete") {
			if (answer.length > 0) {
				answer = answer.slice(0,-1);
				$('#answer').val(answer);
				answer.length==0 ? clicked=false : clicked=true;
			}
		}else{
			answer = $("#answer").val() + clickedId;
			$("#answer").val(answer);
			document.getElementById('hinweis').innerHTML = "Keine Frage mehr? Dann starte den Test.";
			clicked = true;

		}

	});

</script> 
